<html>
<head>
<body>
<table border="Score">
	{{range $k,$v := .SortArray}}	
	<tr>
			<th>{{$k}}</th>
			<th>{{$v.Code}}</th>
			<th><p>{{$v.Score}}</p><p>{{$v.ClassName}}</p><p>{{$v.ClassScore}}</p></th>
			<th><img src="{{$v.Day}}"/></th>
			<th><img src="{{$v.Min}}"/></th>
	</tr>
	{{end}}
</table>
</body>
</head>
</html>